# Question 5: Distributions

Objective: 

Build a dervided variable representing the average speed over the course of the trip

Can you perform a test to determine if the average trip speeds are materially the same in all weeks of September? If you decide they are not the same, can you form a hypothesis regarding why they differ?

Can you build up a hypothesis of average speed as a function of time of day?

In [70]:
#importing packages
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.offline as py
py.init_notebook_mode(connected=True)
import plotly.graph_objs as go
import plotly.tools as tls
import warnings
warnings.filterwarnings('ignore')
import time
import networkx as nx
from plotly.graph_objs import *

In [71]:
url = 'https://s3.amazonaws.com/nyc-tlc/trip+data/green_tripdata_2015-09.csv'
df = pd.read_csv(url)

In [72]:
df.head()

,VendorID,lpep_pickup_datetime,Lpep_dropoff_datetime,Store_and_fwd_flag,RateCodeID,Pickup_longitude,Pickup_latitude,Dropoff_longitude,Dropoff_latitude,Passenger_count,...,Fare_amount,Extra,MTA_tax,Tip_amount,Tolls_amount,Ehail_fee,improvement_surcharge,Total_amount,Payment_type,Trip_type
0,2,2015-09-01 00:02:34,2015-09-01 00:02:38,N,5,-73.979485,40.684956,-73.979431,40.685020,1,...,7.8,0.0,0.0,1.95,0.0,NaN,0.0,9.75,1,2.0
1,2,2015-09-01 00:04:20,2015-09-01 00:04:24,N,5,-74.010796,40.912216,-74.010780,40.912212,1,...,45.0,0.0,0.0,0.00,0.0,NaN,0.0,45.00,1,2.0
2,2,2015-09-01 00:01:50,2015-09-01 00:04:24,N,1,-73.921410,40.766708,-73.914413,40.764687,1,...,4.0,0.5,0.5,0.50,0.0,NaN,0.3,5.80,1,1.0
3,2,2015-09-01 00:02:36,2015-09-01 00:06:42,N,1,-73.921387,40.766678,-73.931427,40.771584,1,...,5.0,0.5,0.5,0.00,0.0,NaN,0.3,6.30,2,1.0
4,2,2015-09-01 00:00:14,2015-09-01 00:04:20,N,1,-73.955482,40.714046,-73.944412,40.714729,1,...,5.0,0.5,0.5,0.00,0.0,NaN,0.3,6.30,2,1.0

In [109]:
df.isnull().any()

VendorID                 False
lpep_pickup_datetime     False
Lpep_dropoff_datetime    False
Store_and_fwd_flag       False
RateCodeID               False
Pickup_longitude         False
Pickup_latitude          False
Dropoff_longitude        False
Dropoff_latitude         False
Passenger_count          False
Trip_distance            False
Fare_amount              False
Extra                    False
MTA_tax                  False
Tip_amount               False
Tolls_amount             False
Ehail_fee                 True
improvement_surcharge    False
Total_amount             False
Payment_type             False
Trip_type                 True
pickup_datetime          False
trav_mins                False
hour                     False
weekday                  False
dtype: bool

In [110]:
print ('Longitude min max', min(df.Pickup_longitude.min(), df.Dropoff_longitude.min()), max(df.Pickup_longitude.max(), df.Dropoff_longitude.max()))

print ('Latitude min max', min(df.Pickup_latitude.min(), df.Dropoff_latitude.min()), max(df.Pickup_latitude.max(), df.Dropoff_latitude.max()))

Longitude min max -83.4278411865 0.0
Latitude min max 0.0 43.1772613525

In [111]:
min_long = -74.25
max_long = -73.7
min_lat = 40.6
max_lat = 40.9

def filter_long(longi):
    return longi >= min_long and longi <= max_long

def filter_lat(lat):
    return lat >= min_lat and lat <= max_lat

nyc = df[(df['Pickup_longitude'].apply(filter_long)) & (df['Dropoff_longitude'].apply(filter_long))]
nyc = df[(df['Pickup_latitude'].apply(filter_lat)) & (df['Dropoff_latitude'].apply(filter_lat))]

In [115]:
f, (ax1, ax2) = plt.subplots(1, 2, sharey=True)


P_pickups = df.plot(kind='scatter', x='Pickup_longitude', y='Pickup_latitude',
                color='blue', xlim=(min_long,max_long), ylim=(min_lat, max_lat),
                s=.02, alpha=.6, subplots=True, ax=ax1)
ax1.set_title("Pickups")
#ax1.set_axis_bgcolor('black') #Background Color

P_dropoff = df.plot(kind='scatter', x='Dropoff_longitude', y='Dropoff_latitude',
                color='blue', xlim=(min_long,max_long), ylim=(min_lat, max_lat),
                s=.02, alpha=.6, subplots=True, ax=ax2)
ax2.set_title("DropOffs")

Text(0.5,1,'DropOffs')

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.